@font-face {
  font-family: "Visby";
  src: local('Visby'),
  url('./fonts/Visby-CF/Fontspring-DEMO-visbycf-regular.otf') format('otf'),
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  background: url('/public/images/Frame\ 424.png');
  background-size: cover;
  background-position: center;
}

.header{
  background: url('/public/images/Frame\ 424.png');
  background-size: cover;
  background-position: center;
}

.AuthBackground{
  background: url('/public/images/Frame\ 424.png');
  background-size: cover;
  background-position: center;
}

.whiteBackground{
  background: url('/public/images/frame.png');
  background-size: cover;
  background-position: center;
}
.fontFamily1{
  font-family: 'Poppins', sans-serif!important;
  font-weight: auto;
}

.fontFamily2{
  font-family: 'Visby'!important;
  font-weight: auto;
}

.footerLink{
  font-family: 'Poppins', sans-serif!important;
  font-weight: auto;
  color:white!important;
  font-size: 14px!important;
  cursor: pointer;
  border: none !important;
  padding:8px 0!important;
}

.header-menu{
  font-family: 'Poppins', sans-serif!important;
  color:white;
  font-size: 16px!important;
}

.header-menu .ant-menu-item{
  padding:0px 20px!important;
  height: auto!important;
}

.header-menu .ant-menu-title-content:after{
  color:white!important;
}

.header-menu .ant-menu-item *{
  color:white!important;
}
.header-menu .ant-menu-item-selected{
  color:white!important;
}


.header-menu-mobile{
  font-family: 'Poppins', sans-serif!important;
  color:white;
  font-size: 16px!important;
}

.header-menu-mobile .ant-menu-item{
  padding:10px 20px!important;
  height: auto!important;
}

.ant-menu-horizontal{
  border-bottom: 0!important;
}

.authFormBox{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 41px 0px 0px 41px;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.heroSection{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-input-number-handler-wrap{
  display: none!important;
}


.coachCard1{
  background: url('/public/images/1.png');
  background-size: cover;
}

.coachCard2{
  background: url('/public/images/2.png');
  background-size: cover;
}
.coachCard3{
  background: url('/public/images/3.png');
  background-size: cover;
}
.coachCard4{
  background: url('/public/images/4.png');
  background-size: cover;
}
.coachCard5{
  background: url('/public/images/5.png');
  background-size: cover;
}
.authImageBox{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loginForm .ant-form-item-label *{
  font-family: 'Visby', sans-serif!important;
  color:white!important;
  font-weight: 450!important;
  font-size: 14px!important;
}

.loginForm .ant-form-item-required::before{
  display: none!important;
}

.AuthFormInput{
  border-radius: 10px!important;
background: rgba(255, 255, 255, 0.15)!important;
color:white!important;
height: 49px!important;
border:none
}
.loginButton{
  width: 157px;
height: 46px;
border-radius: 8px!important;
background: #7CC059!important;
font-family: 'Visby', sans-serif!important;
color:white!important;
font-weight: 550!important;
}
.heroButton{
  width: 150px;
  height: 60px;
  border-radius: 10px!important;
  background: #86d6e0!important;
  font-family: 'Visby', sans-serif!important;
  color:black!important;
  font-weight: 550!important;
}
.AuthFormInput .ant-input { 
font-size: 14px!important;
background: transparent!important;
color:white!important;
}

.AuthFormInput .ant-input-suffix *{
  color:white!important;
}

.AuthFormInput .ant-input::placeholder{
  color : white!important;
}
.heroSerch .ant-input::placeholder{
  color : grey!important;
  font-weight: 400!important;
}
.heroSerch  .ant-input-affix-wrapper-lg{
    padding: 5px 5px 5px 10px!important;
}
.heroSerch {
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}


.authImage1{
  width:100%;
  height:65vh;
  border-radius: 53px;
background: url(/public/images/Rectangle_1.png);
background-position: center;
background-size: cover;
}
.authImage2{
  width:100%;
  height:65vh;
  border-radius: 53px;
background: url(/public/images/Rectangle_2.png);
background-size: cover;
background-position: center;
}
.authImage3{
  width:100%;
  height:65vh;
  border-radius: 53px;
background: url(/public/images/Rectangle_3.png);
background-size: cover;
background-position: center;
}


.hover:hover{
  color:#7CC059!important
}

.codeInput{
  width: 50px;
  z-index: 5;
  border: none!important;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px;
  height:50px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  color:white;
}
.codeInput:focus{
 outline:none;
}


@media only screen and (max-width: 600px) {
  .hide-on-phone {
   display: none!important;
  }
  .authFormBox{
    border-radius: 0;
  }
}
